.body {
  margin: 0;
  padding: 0;
  min-width: 1170px;
  font-family: 'Times New Roman', serif;
  background-color: #8c8b91;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: 0 auto;
  background-color: #2F4F4F;
}

.main_menu ul {
  display: flex;
  align-items: center;
  max-width: 1440px;
}

.main_menu li {
  padding-right: 50px;
  list-style: none;
}

.decorate-link {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #DCDCDC;
}

.main_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  background-color:#8c8b91;
}

.left-block {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  font-size: 20px;
  border-left: 10px solid #2F4F4F;
  background-color:#DCDCDC;
  color: #2F4F4F;
}

.name {
  padding: 55px 30px 50px;
}

.summary p, .soft_skills p, .projects p {
  border-left:5px solid #8c8b91;
  padding: 20px;
  margin-top: -25px;
}

.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
}

.img_link {
  width:380px;
  text-align: center;
}

.right-block {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: 10px solid #2F4F4F;
  background-color: #8c8b91;
  color: #DCDCDC;
}

.right-block h2 {
  letter-spacing: 2px;
  border-left:5px solid #DCDCDC;
  border-top:5px solid #DCDCDC;
  border-right: none;
  border-bottom: none;
  padding: 20px;
  text-align: right;
}

.avatar {
  position: relative;
  margin: 0;
}

.avatar figcaption{
  font-size: 20px;
  text-align: center;
  margin-right: -40px;
}

.contacts, .technical_skills, .education, .social_media {
  margin-top: 70px;
  font-size: 18px;
  line-height: 27px;
}

.contacts a, .social_media a {
  display: inline-block;
  cursor: pointer;
}

.technical_skills ul, .education ul, .contacts ul, .social_media ul {
  margin-left: -20px;
}

.footer {
  background-color: #2F4F4F;
  color: #DCDCDC;

}

.footer_container {
  display: flex;
  justify-content:space-between;
  align-items:center;
  max-width: 1280px;
  margin: 0 auto;
}

.item-1 {
  margin: 40px 0 0 40px;
}

.item-2 {
  margin-right: 40px;
}

h1 {
  padding-left: 22px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: left;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
  border-right:5px solid #8c8b91;
  border-bottom:5px solid #8c8b91;
  padding: 20px;
}

h3 {
  padding-left: 25px;
  letter-spacing: 3px;
  margin-top: -25px;
  color: #8c8b91
}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

a {
  color: #DCDCDC;
  font-size: 20px;
  letter-spacing: 1px;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

pre {
  width: 100%;
  margin-top: -30px;
}

span {
  display: block;
  margin: 15px 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: justify;
  color: #2F4F4F;
}

.description {
  font-size: 16px;
  line-height: 20px;
  color: #2F4F4F;
  text-align: justify;
}

.link {
  font-size: 16px;
  color: #000080;
}

@media screen and (max-width: 1140px) {

  .projects_container {
    flex-direction: column;
  }
}

@media screen and (max-width: 860px) {

  .img_link {
    width: 320px;
    margin-right: 20px;
  }

  .name {
    padding: 60px 0 0 0;
  }
}

@media screen and (max-width: 740px) {

  .right-block {
    width: 100%;
  }

  .left-block {
    width: 100%;
  }
}
